    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="text/css" th:href="@{/css/main.css}">
    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/service/rtree/add">Add <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/service/rtree/query">Query</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form action="#" th:action="@{/service/rtree/add}" th:object="${coordinate}" method="post" class="mt-10">
                <div id="locDiv" class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Enter location" th:field="*{location}" required/>
                </div>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="Enter latitude" th:field="*{latitude}" required/>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="Enter longitude" th:field="*{longitude}" required/>
                </div>
                    <button type="submit" id="addSbmt" class="btn btn-primary">Submit</button>
                    <button type="button" id="reset" class="btn btn-primary">Reset</button>
        </form>

    </div>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/Add-location.js}"></script>
    </body>
    </html>